.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.profile-view-container{
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 340px auto auto auto auto ;
  margin-top: 10vh;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

html {  
  font-family: Arial;  
}  



.lab {

  text-align: center;


}


/* Add some padding inside the card container */
.container2 {
  text-align: center; 
  padding: 2px 16px;
  
}



.NN2 {

  height:400px;
  margin-left: 50px;
  margin-right: 50px;
   overflow:auto;
}

.title {
  font-size: 20px;
  width: 100%;
} */

.container3 {
  /* width: 300px; */
  top:50%;
  left:50%;
  /* transform:translate(-20%,-20%); */
}
.label {
  padding:10px;
  font-size:13px;
  color:#111;
}
.copy-text {
  /* position:relative; */
  padding:10px;
  background:#fff;
  border:1px solid #ddd;
  border-radius:10px;
  /* display:flex; */
  
  
}
.copy-text input.text {
  padding:10px;
  font-size:18px;
  color:#555;
  border:none;
  outline:none;
  /* padding-right:50px; */
}
.copy-text button {
  /* padding:10px; */
  background:#5784f5;
  color:#fff;
  font-size:18px;
  border:none;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  margin-right: 0%;
  padding-left: 0%;
  margin-left: 10px;
}
.copy-text button:active {
  background:#809ce2;
}
.copy-text button:before {
  content:"Copied";
  position:absolute;
  top:-45px;
  right:0px;
  background:#5c81dc;
  padding:8px 10px;
  border-radius:20px;
  font-size:15px;
  display:none;
}
.copy-text button:after {
  content:"";
  position:absolute;
  top:-20px;
  right:25px;
  width:10px;
  height:10px;
  background:#5c81dc;
  transform:rotate(45deg);
  display:none;
}
.copy-text.active button:before,
.copy-text.active button:after {
  display:block;
}