.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.profile-view-container{
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 340px auto auto auto auto ;
  margin-top: 10vh;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}



#myInput {
  /* background-image: url('/css/searchicon.png'); Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */

}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}



.timetable {
  margin-left: 6%;
  margin-right: 6%;
}

.timetable2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {

  text-align: center;
}

html {  
  font-family: Arial;  
}  

input {  
  width: 40%;  
  height: 30px;  
  border: 1px solid;  
  margin: 5px 10px;  
  font-size: 1.2rem;  
}  

select {  
  width: 40%;  
  height: 30px;  
  border: 1px solid;  
  margin: 5px 10px;  
  font-size: 1.2rem;  
} 

textarea {  
  width: 40%;  
  height: 90px;  
  border: 1px solid;  
  margin: 5px 10px;  
  font-size: 1.2rem;  
} 



label {  
  text-align: right;  
  line-height: 45px;  
}  

button {  
  background: rgb(114, 114, 204);  
  width: 120px;  
  height: 40px;  
  border: none;  
  border-radius: 5px;  
  font-size: 1.1rem;  
  grid-column: 1 / 3;  
  margin: auto;  
}  

.container {  
  display: grid;  
  justify-content: center;  
  flex-direction: column;  
  grid-template-columns: 40% 60%;  
  grid-row-gap: 20px;  
}  

.container div {  
  grid-column: 1 / 3;  
  text-align: center;  
}  

.marg {
  margin-bottom: 30px;
  background-color: "#FFFFFF";

}

.marg2 {
  background-color: "#FFFFFF";

}

ul {
  justify-content: center;
}

li {
  margin-bottom: 15px;
  margin-left: 35%;
  margin-right: 35%;
}

.lab {

  text-align: center;


}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgba(255, 255, 255, 0.85);
  margin-bottom: 15px;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 26px 26px 0 rgba(0,0,0,0.4);
}

/* Add some padding inside the card container */
.container2 {
  text-align: center; 
  padding: 2px 16px;
  
}

.NN {

  height:400px;
   overflow:auto;
}

.title {
  font-size: 20px;
  width: 100%;
}

Button {
  margin: 0 auto;
}